@{
    ViewData["Title"] = "Send Email";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to Send auto mail to user mail address.</p>

<form asp-action="SendEmail" asp-controller="EmailSender" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="Email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Enter Subject of Email</label>
        <input type="text" name="Subject" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Subject of mail here....">
    </div>
    <div class="form-group">
        <label for="exampleInput">Enter Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="Message" rows="3" placeholder="Enter Your Message here...."></textarea>
    </div>
    <input type="submit" class="btn btn-primary"></input>
    <a class="btn btn-light" asp-controller="Home" asp-action="Index">Cancel</a>
</form>
