<!DOCTYPE html>
<html>
<head>
    <title>AJAX Search</title>
    <script>
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var query = $(this).val();
                $.ajax({
                    url: '/Search/Search',
                    type: 'POST',
                    data: { query: query },
                    dataType: 'json',
                    success: function (data) {
                        var listItems = data.map(function (item) {
                            return '<div class="result-item"><a href="#" class="result-link">' + item + '</a></div>';
                        });
                        $('#searchResults').html(listItems.join(''));
                    },
                    error: function () {
                        alert('An error occurred while processing your request.');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Search Items</h2>
        <div class="input-group mb-3">
            <input type="text" id="searchInput" class="form-control" placeholder="Search items...">
        </div>
        <div id="searchResults" class="search-results"></div>
    </div>
</body>
</html>
